<div class="formstyle">
  <div class="container1">
    <form
      class="has-alternate-background"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="page-center">
        <div class="container columns">
          <div class="column">
            <div class="box login-box px-6 py-6">
              <div class="level">
                <div class="level-item">
                  <h3
                    style="text-align: center"
                    class="login-title has-text-white"
                  >
                    Registration
                  </h3>
                </div>
              </div>

              <div class="level">
                <div class="level-item">
                  <div class="field">
                    <label class="label" for="firstName">First Name</label>
                    <p class="control has-icons-left has-icons-right">
                      <input
                        class="input inputstyle is-secondary is-outlined"
                        id="firstName"
                        placeholder="First Name"
                        type="text"
                        formControlName="firstName"
                      />
                      <span class="icon has-text-white is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon has-text-white is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="level">
                <div class="level-item">
                  <div class="field">
                    <label class="label" for="lastName">Last Name</label>
                    <p class="control has-icons-left has-icons-right">
                      <input
                        class="input inputstyle is-secondary is-outlined"
                        id="lastName"
                        placeholder="Last Name"
                        type="text"
                        formControlName="lastName"
                      />
                      <span class="icon has-text-white is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon has-text-white is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="level">
                <div class="level-item">
                  <div class="field">
                    <label class="label" for="email">Email</label>
                    <p class="control has-icons-left has-icons-right">
                      <input
                        class="input inputstyle is-secondary is-outlined"
                        id="email"
                        placeholder="Email"
                        type="email"
                        formControlName="email"
                      />
                      <span class="icon has-text-white is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon has-text-white is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="level">
                <div class="level-item">
                  <div class="field mb-3">
                    <label class="label" for="password">Password</label>
                    <p class="control has-icons-left">
                      <input
                        class="input inputstyle is-secondary is-outlined"
                        id="password"
                        formControlName="password"
                        placeholder="Password"
                        type="password"
                      />
                      <span class="icon is-login-icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="level">
                <div class="level-item">
                  <div class="field">
                    <button
                      type="submit"
                      class="button button-43 is-secondary-70"
                    >
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
