<div class="table-container">
    <div>
      <label for="filter">Filter: </label>
      <input id="filter" (keyup)="applyFilter($event)" placeholder="Filter by column name" />
    </div>
  
    <table>
      <thead>
        <tr>
          <th (click)="sortData('columnName')">Column Name</th>
          <th (click)="sortData('dataType')">Data Type</th>
          <th (click)="sortData('isNullable')">Is Nullable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredTableData">
          <td>{{ row.columnName }}</td>
          <td>{{ row.dataType }}</td>
          <td>{{ row.isNullable }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  
  <h1>hello</h1>